*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}



.nav-back {

    background: rgba(0,0,0,0.6);
    
}

.navbar-brand {

    color: #000;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #000;
    
}
.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    outline: none!important;
    
}

.navbar-toggler:hover {
    color: #fff;
}

/*Hero Section*/

#hero {
    width: 100%;
    height: 80vh;
    background: url("./images/hero.jpg") center;
    background-size: cover;
    

}

#hero .container {
    padding-top: 80px;
    
}


#hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px; 
    font-weight: bold;
    line-height: 56px;
    color: black;
    font-family: 'Roboto', sans-serif;

}

#hero h2{
    color: #000;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;

}

.main-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin:10px;
    border: 2px solid black;
    color: black;
    background:  rgba(0,0,0,0.6);

}

.main-btn:hover{
    background:  rgba(0,0,0,0.6);
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    color: #fff; 
}

/*Services*/

.service {

    text-align: center;
    padding: 70px 20px 80px 20px;
    background:  #d7d8db;
    border-radius: 7px;

}

.service .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    background: #fff;
    border: solid #000;
    border-radius: 50px;
    
    
}

.service .icon i{

    font-size: 30px;
    line-height: 1;
    position: relative;

}

.service h4{
    margin: 10px 0px 15px 0px;
    font-weight: bold;
    font-size: 22px;

}

.services p{

    line-height: 24px;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;

}

/*About*/

.about-section {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.about-heading {

    text-transform: uppercase;

}

.about-heading-upper{
    display: block;
    font-size: 2rem;
    font-weight: bold;
    
}
.about-heading-lower{
    display: block;
    font-size: 28px;
    font-weight: light;
}

.bg-faded{

    background: rgba(0,0,0,0.6);

}

.about-button .btn-color{
    
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin:10px;
    border: 2px solid black;
    color: black;
    background:  rgba(0,0,0,0.6);

}

.about-button .btn-color:hover{
    background:  rgba(0,0,0,0.6);;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    color: #fff; 



}


.about{
    position: relative;
}

@media screen and (min-width:992px){
    .about .about-img {
        width: 75%;
        height: 55%;
        float: right;
        border-radius: 7px;

    }
    .about .about-text {
        left:0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }

.about .about-text .about-button{
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
    
}
}

@media screen and(min-width:1200px){
    .about .about-text{
        width:45%;

    }
}

/*About End*/

/* Cards for Problems */

.camp{
    background-color: #d7d8db;
    padding-bottom: 0;
}
.camp h2{
    color: #000;
    margin-bottom: 25px;
    
}

.camp-grid{
    margin-top:65px;

}
.camp-grid .row{
    margin: 0px;
}

.camp-grid .row > div{
    padding: 0;

}
.camp-grid .row > div .card img{

    width: 100%;
}
.camp-grid .row > div .card .camp-text{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    top: 0;
    left:0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

}

.card-grid .row > div .card .camp-text > div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.camp-grid .row > div .card .camp-text .card-title{
    color: #fff;
    font-size: 30px;
}
.camp-grid .row > div .card .camp-text .card-text{
    color: #fff;
    opacity: .75;
    padding: 0 45;
    vertical-align: middle;
}

.camp-grid .row > div .card:hover .camp-text{
    opacity: 1;
    visibility: visible;
}

/*End Cards for Problems */

/* Team */
.team{
    background: #fff;

}

.team .member{
    position: relative;
    box-shadow: 1px 2px 15px  rgba(169, 196, 194, 0.8);;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.team .member .image{
    overflow: hidden;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.team .member .image img{
   transition: ease-in-out 0.3s; 
}

.team .member:hover img{
    transform: scale(1.1);
}

.team .member h4{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: #000;
}

.team .member span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: bold;

}

.team .member span:after{
    content:"";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background:  #d7d8db;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.team .member p{
    margin: 10px 0 0 0;
    font-size: 14px;
}

.team .social{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .social a{
    transition: ease-in-out .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid black;
    width: 32px;
    height: 32px;
    background: #d7d8db;
    color: #000;
    margin-left: 8px;
    
}

.team .social a:hover{
    background:  rgba(169, 196, 194, 0.8);;
    border: 2px solid black;
    text-decoration: none;
    font-weight: bold;
    color: #fff; 
    background: #000;

}

.team .member .social a i{
    font-size: 16px;
    margin: 0 2px;

}

/* End Team */
/* ContaCt */

.main-contact{
    position: relative;
    min-height: 70vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main-contact-container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.main-contact-container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.main-contact-container .contactinfo .box .icon{
    min-width: 40px;
    height: 40px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 15px;

}
.main-contact-container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;

}

.contactform{

    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2{

    font-size: 38px;
    column-rule-color: #000;
    font-weight: 500;

}

.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
    
}

.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;

}

.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: grey;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{

    color: black;
    font-size: 12px;
    transform: translateY(-20px);

}

.contactform .inputBox input[type="submit"]{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
    margin:10px;
    border: 2px solid black;
    color: black;
    background:  grey;
    width: 100px;
    
}

.contactform .inputBox input[type="submit"]:hover{
    background:  black;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    color: #fff; 

}


@media screen and (max-width: 767px) {
    .main-contact, .main-contact-container, .inputBox, .box [type=submit] {
      width: 50%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 574px) {
    .main-contact, .main-contact-container, .inputBox, .box [type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
/* End Contact  */

/* About Page */

.values{
    background: grey;
    height: 110px;
    padding: 8px;
    text-align: center;
}

.values h1{
    color: #fff;
}

.values .container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.val-points .content{

    margin-top: 40px;
   

}

.val-points .content ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 40px;
}

.val-points .content ul li {
    width: 50%;
    list-style: none;
}

.val-points .content ul li h4 {
    font-weight: 600;
    letter-spacing: 0.67px;
    padding-bottom: 10px;
    position: relative;
}

.val-points .content ul li p {
    margin-top: 10px;
    max-width: 290px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.37px;
    line-height: 1.5;

}
.val-points .content ul li h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 4px;
    box-sizing: border-box;
    background-color: grey;
    width: 50px;
    
}


/* End About Page */

/* Terms Of Business */

.tob .main-tob{
   
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 102px 7%;
    
    
 
}

.tob .button{
    display: inline-block;
    outline: none;
    background: transparent;
    color: black;
    width: 220px;
    height: 60px;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
    margin: 45px;

}




.button.active {
    left: 50% + 110px;
    font-size: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: rotate .8s ease 0.5s infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
}

.button.success {
    position: relative;
    border-color: #000;
    animation: bounce .3s ease-in;

}

@keyframes bounce {
    0%{
    transform: scale(0.9);
    }
}


.button.success:before {
    content:'';
    position: absolute;
    background: url('check1.svg') no-repeat;
    left: 0px;
    right: 0px;
    top: 8px;
    margin: 0 auto;
    width: 36px;
    height: 30px;

}
.gotopbtn{

    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background: transparent;
    right: 50px;
    color: grey;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: lighter;
   
    

}

.gotopbtn:hover{
    color: grey;
}



/* End Terms of Business */

/* Footer */


.footer{
    background-color: black;
    padding: 70px 0;
    clear: both;

}

.footer .container{
    max-width: 1170px;
    margin: auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4:before {
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    box-sizing: border-box;
    background-color: grey;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
    
}

.footer-col ul li a:hover{
    color: grey;
    padding-left: 8px;

}

.footer-col .contact ul li{
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
}

.footer-col .social-links a{
    display: inline-block;
    color: #fff;
    margin: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: all 0.5s;
    
    
}

.footer-col .social-links a:hover{
    color: grey;
    border: 2px solid grey;
    background-color: #fff;

}

.footer-bottom{
    background-color: black;
    padding: 18px 0;

}

.footer-bottom .container{
    max-width: 1170px;
    margin: auto;

}

.footer-bottom .rights{
    text-align: center;
    color: #fff;
    font-size: 16px;
    
}



.footer-bottom .rights a{
    color: grey;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        
    }
}


/* End Footer */

